<div class="container">
    <div class="row text-center">
        <h1>Feed</h1>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 float-left">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="filterModel.keyword" />
                <button mat-button matSuffix mat-icon-button aria-label="search" (click)="searchByKeyword()">
          <mat-icon>search</mat-icon>
        </button>
            </mat-form-field>
        </div>

        <div class="col-12 col-lg-6 col-md-6">
            <mat-form-field class="float-right" appearance="fill">
                <mat-label>Sort</mat-label>
                <mat-select (selectionChange)="sortData($event)">
                    <mat-option value="Title">Title</mat-option>
                    <mat-option value="LastEdited">Last Edited</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-4 my-4">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12" *ngFor="let item of feedData?.data">
            <mat-card class="layout-row">
                <img mat-card-image src="{{ item.image }}" alt="{{ item.name }}" />
                <mat-card-content>
                    <p>{{ item.name }}</p>
                    <p>
                        {{ item.description }}
                    </p>
                    <p><b>Last Edited :</b> {{ item.dateLastEdited | date: "medium" }}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-12" *ngIf="totalCount == 0">
            <span>No Record Found</span>
            <p> <button color="primary" mat-button (click)="resetFilter()">Reset</button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-paginator [length]="totalCount" [pageSize]="filterModel.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="paginatedData($event)">
            </mat-paginator>
        </div>
    </div>
    <div class="row" *ngIf="totalCount > 0">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th style="width:50%">Description</th>
                    <th>Last Edited Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of feedData?.data">
                    <td>{{ item.name }}</td>
                    <td>
                        <img width="120" height="120" src="{{ item.image }}" alt="{{ item.name }}" />
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.dateLastEdited | date: "medium" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>